%h1 Listing payments

%table
  %thead
    %tr
      %th Date
      %th Payment type
      %th Transaction code
      %th Amount
      %th Invoice
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.date
        %td= payment.payment_type
        %td= payment.transaction_code
        %td= payment.amount
        %td= payment.invoice.number
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
