<p id="notice"><%= notice %></p>

<p>
  <strong>Subscriber:</strong>
  <%= @payment.subscriber.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<p>
  <strong>Transaction code:</strong>
  <%= @payment.transaction_code %>
</p>

<p>
  <strong>Invoice no:</strong>
  <%= @payment.invoice_no %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
