%p#notice= notice
%p
  %strong Subscriber:
  = @payment.subscriber.name
%p
  %strong Date:
  = @payment.date
%p
  %strong Payment type:
  = @payment.payment_type
%p
  %strong Transaction code:
  = @payment.transaction_code
%p
  %strong Invoice no:
  = @payment.invoice_no
%p
  %strong Amount:
  = @payment.amount
= link_to 'Edit', edit_payment_path(@payment)
|
= link_to 'Back', payments_path
