%p#notice= notice

%p
  %b Subscriber Data
  %br
  = @payment.invoice.subscriber.name
  %br
  = @payment.invoice.subscriber.apartment.name
  %br
  = @payment.invoice.subscriber.house.number

%p
  %b Invoice Number:
  = @payment.invoice.number
%p
  %b Invoice Cost
  = @payment.invoice.package.cost
%p
  %b Invoice Due:
  = @payment.invoice.due_date

%h3 Payment Details
%hr
%p
  %b Date:
  = @payment.date
%p
  %b Payment type:
  = @payment.payment_type
%p
  %b Transaction code:
  = @payment.transaction_code
%p
  %b Amount:
  = @payment.amount

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
