= form_with(model: subscriber, local: true) do |form|
  - if subscriber.errors.any?
    #error_explanation
      %h2
        = pluralize(subscriber.errors.count, "error")
        prohibited this subscriber from being saved:
      %ul
        - subscriber.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :phone
    = form.number_field :phone
  .field
    = form.label :apartment_id
    = form.collection_select :apartment_id, Apartment.all, :id, :name, include_blank: true
  .field
    = form.label :house_id
    = form.grouped_collection_select :house_id, Apartment.order(:name), :houses, :name, :id, :number, include_blank: true
  .actions
    = form.submit
