!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Internet
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      = link_to 'Home', root_path
      = link_to 'Packages', packages_path
      = link_to 'Apartments', apartments_path
      = link_to 'Houses', houses_path
      = link_to 'Subscribers', subscribers_path
      = link_to 'Invoices', invoices_path
      = link_to 'Payments', payments_path
    = yield
